/* div styling below */

.front-page-index-wrapper {
    min-width: 1000px;
    width: 100%;
    background-color: #E3E6E6;
    /* background-image:
        linear-gradient(to bottom,
            #fff8dc,
            #fffae8,
            #ffffff); */           
}

.GE-image {
    width: 100%;
    height: 270px;
    z-index: -1;
}

.front-page-image-mask {
    -webkit-mask-image: linear-gradient(to bottom,
        #000,
        #000,
        #000,
        rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, 
        #000,
        #000,
        #000,
        rgba(0, 0, 0, 0));
}

.front-page-image-mask > img {
    width: 100%;
}

.front-page-items-container {
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    min-width: 265px;
    max-width: 345px;
    width: calc(30.5% - 40px);
    height: 340px;
    padding: 10px;
    background-color: rgba(255,255,255,1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.front-page-items-wrapper {
    background-color: transparent;
    min-width: calc(1000px - 40px);
    max-width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.front-page-item-wrapper {
    min-width: 126px;
    max-width: 166px;
    width: calc(45% - 4px);
    height: 166px;
    padding: 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-page-img-placeholder {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.front-page-item-name {
    font-size: 13px;
    
}

#link-to-item-show:hover {
    cursor: pointer;
}

#front-page-wrapper-top {
    padding-bottom: 10px;
}

#front-page-wrapper-bottom {
    padding-top: 10px;
}

.front-page-item-image {
    max-height: 90%;
    max-width: 95%;
}