.review-create-form-change-name {
    font-size: 14px;
    color: #007185;
}

.review-create-form-change-name:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #da7b00;
}

.review-create-form-main-content-wrapper {
    min-width: 770px;
    max-width: 770px;
    margin-top: 20px;
}

.review-create-form-main-wrapper {
    min-width: 770px;
    display: flex;
    justify-content: center;
}

.review-create-name-change-input {
    height: 21px;
    padding: 3px 7px;
}

.review-create-name-content-wrapper {
    min-width: 742px;
    max-width: 742px;
    padding: 10px 14px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.review-create-form-name-change-wrapper {
    height: 54px;
    min-width: 770px;
    background-color: #DEFAFF;
    display: flex;
    justify-content: center;
}

.review-create-form-cancel-button {
    margin-left: 5px;
    width: 63px;
    height: 29px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.review-create-form-cancel-button:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.review-create-form-cancel-button:active {
    border: 1.5px solid #ffffff;
    outline: 1.5px solid rgb(131, 131, 255);
    box-shadow: 0 0 10px rgb(193, 193, 193);
}

.review-create-form-save-button {
    margin-left: 5px;
    width: 63px;
    height: 29px;
    border-radius: 4px;
    background-color: #ffd814;
    border: 1px solid #FFD814;
}

.review-create-form-save-button:hover {
    background-color: #f0cc16;
    cursor: pointer;
}

.review-create-form-save-button:active {
    background-color: #e5c216;
    border: 1.5px solid #ffffff;
    outline: 1.5px solid rgb(131, 131, 255);
    box-shadow: 0 0 10px rgb(193, 193, 193);
}

.review-create-title-item-subsection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-create-form-wrapper {
    background-color: white;
}

.review-create-title-wrapper {
    margin-top: 18px;
    margin-bottom: 20px;
    margin-left: 14px;
    margin-right: 14px;
    width: calc(100% - 28px);
    display: flex;
    flex-direction: column;
}

.review-create-title-wrapper > h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.review-create-userName {
    font-size: 13px;
    margin-right: 10px;
}

.review-create-form-title-image {
    width: 62px;
    height: 62px;
    background-color: green;
}

.review-create-form-title-item-name {
    margin-left: 10px;
    margin-bottom: 16px;
    font-size: 14px;
}

.review-create-form-content-divider {
    width: calc(100% - 28px);
    border-top: 1px solid #d5d5d5;
    margin-left: 14px;
    margin-right: 14px;
}

.review-create-sub-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 17px;
}

.review-create-star-ratings {
    display: flex;
    flex-direction: row;
}

.review-create-ratings-top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-create-clear-ratings {
    font-size: 13px;
    color: #007185;
    margin-right: 12px;
    margin-top: 3px;
}

.review-create-clear-ratings:hover {
    cursor: pointer;
}

.review-create-rating-stars {
    width: 35px;
}

.review-create-rating-stars:hover {
    cursor: pointer;
}

.review-create-headline-textbox {
    height: 31px;
    padding-left: 6px;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 4px;
}

.review-create-headline-textbox:focus {
    border: 1px solid #F08804;
    box-shadow: 0 0 5px #7e4a05;
}

.review-create-description {
    min-width: 730px;
    max-width: 730px;
    height: 105px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.review-create-submit-button {
    margin-left: 5px;
    width: 63px;
    height: 29px;
    border-radius: 4px;
    background-color: #ffd814;
    border: 1px solid #FFD814;
    align-self: flex-end;
}

.review-create-submit-button:hover {
    background-color: #f0cc16;
    cursor: pointer;   
}

.review-create-submit-button:active {
    background-color: #e5c216;
    border: 1.5px solid #ffffff;
    outline: 1.5px solid rgb(131, 131, 255);
    box-shadow: 0 0 10px rgb(193, 193, 193);
}

.create-review-errors {
    margin-top: 14px;
    font-size: 14px;
    color: #C40000;
}