/* div styling below */

.index-wrapper {
    width: 100%;
    min-height: 720px;
    background-image:
        linear-gradient(
            to bottom,
            #fff8dc,
            #fffae8,
            #ffffff
    );
}