.item-reviews-section-wrapper {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: calc(100%-40px);
    display: flex;
}

.item-reviews-section-left {
    min-width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.item-reviews-section-left-divider {
    width: 100%;
    border-top: 1px solid #d5d5d5;
    margin-top: 24px;
    margin-bottom: 24px;
}

.item-reviews-section-left-title {
    font-size: 24px;
    font-weight: bold;
}

.item-reviews-button {
    height: 29px;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    box-shadow: 0 0 5px #d5d5d5;
}

.item-reviews-button:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}

.item-reviews-button:active {
    background-color: rgb(164, 164, 164)
}

.item-reviews-section-left-sub-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
}

.share-your-thoughts {
    font-size: 14px;
    margin-bottom: 20px;
}

.item-reviews-section-right {
    width: calc(100% - 300px);
    padding-left: 75px;
}

.item-reviews-section-right-content-wrapper {
    min-width: 585px;
    max-width: 680px;
    display: flex;
    flex-direction: column;
}

.item-reviews-section-right-display-name {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.item-reviews-section-right-display-name > span {
    font-size: 13px;
    margin-left: 12px;
}

.item-reviews-section-right-pfp {
    height: 34px;
}

.item-reviews-section-right-ratings {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.item-reviews-section-right-ratings > img {
    height: 18px;
}

.item-reviews-section-right-ratings > span {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.item-reviews-section-right-created {
    margin-top: 6px;
    font-size: 13px;
    color: #565959;
}

.item-reviews-section-right-description {
    margin-top: 8px;
    font-size: 14px;
}

.item-reviews-section-right-review {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-reviews-section-left-average-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.item-reviews-section-left-average-rating > img {
    height: 22px;
}

.item-reviews-section-left-average-rating > span {
    margin-left: 10px;
    font-size: 18px;
}

.item-reviews-update-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13px;
}

.item-reviews-edit-button {
    height: 29px;
    width: 98px;
    border-radius: 6px;
    border: 1px solid #dddddd;
    background-color: transparent;
    box-shadow: 0 0 5px #dddddd;
    font-size: 13px;
}

.item-reviews-edit-button:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.item-reviews-edit-button:active {
    background-color: rgb(227, 248, 255);
    box-shadow: 0 0 5px rgb(227, 248, 255);
}

.item-reviews-update-edit-content-divider {
    margin-left: 14px;
    margin-right: 14px;
    height: 14px;
    border-left: 1px solid #dddddd;
}

.item-reviews-delete {
    font-size: 14px;
    color: #565959;
}

.item-reviews-delete:hover {
    cursor: pointer;
}