/* div styling below */

.cart-item-wrapper {
    display: flex;
    padding-left: 12px;
    padding-bottom: 12px;
    padding-top: 18px;
    width: 100%;
}

.image-placeholder {
    min-width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-placeholder > img {
    height: 100%;
}

.image-placeholder:hover {
    cursor: pointer;
}

.cart-item-info-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.cart-item-info-wrapper > p {
    margin-bottom: 10px;
    width: 100%;
}

.cart-item-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px
}

.cart-item-quantity-divider {
    margin-left: 10px;
    margin-right: 10px;
    height: 70%;
    border-left: 1px solid #d5d5d5;
}

.item-border-bottom {
    width: 100%;
    border-bottom: 1px solid #d5d5d5;
}

/* p styling below */

.cart-item-name {
    font-size: 18px;
}

.cart-item-name:hover {
    cursor: pointer;
}

.cart-item-creator {
    font-size: 14px;
}

.cart-item-in-stock {
    font-size: 13px;
    color: #007600;
}

/* span styling below */

.cart-item-delete-button {
    font-size: 14px;
    color: rgb(83, 138, 138);
    text-decoration: none;
}

.cart-item-delete-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.cart-item-price {
    font-size: 18px;
    font-weight: bold;
    min-width: 120px;
    text-align: center;
}