/* Div section here */

.login-section-a {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 14px 18px;
}

.login-error-box {
    width: 348px;
    height: 74.33px;
    margin-bottom: 14px;
    border: 1px solid #c40000;
    border-radius: 4px;
    background-color: #f9f0f0;
}

.login-error-box-interior {
    display: flex;
    width: 340px;
    height: 66.33px;
    z-index: 1;
    background-color: white;
    margin: 4px 4px;
    border-radius: 2px;
}

.login-alert {
    width: 30px;
    height: 27px;
    margin-top: 5px;
    margin-left: 13px;
}

.login-error-messages {
    padding-left: 20px;
    /* display: flex; */
    align-items: center;
}

.login-error-message-one {
    font-weight: 525;
    font-size: 18px;
    color:#c40000;
    margin-top: 10px;
}

.login-error-message-two {
    font-weight: 525;
    font-size: 14px;
    color: black;
    margin-top: 10px;
}

.login-wrapper {
    width: 348px;
}

.login-box-section-a {
    width: 310px;
    padding: 14px 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    margin-bottom: 24px;
}

.login-input-field {
    display: block;
    margin-bottom: 14px;
}

#login-logo-div {
    margin-bottom: 18px;
}

.login-below-button {
    font-size: 12px;
    height: 36px;
    line-height: 1.5;
}

#login-spacer {
    height: 36px;
    border-bottom: 1px solid rgb(206, 205, 205);
}

.login-belowForm-divider {
    text-align: center;
    width: 100%;
}

.login-divider-line {
    width: 100%;
    background-color: transparent;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

.login-belowForm-divider>h2 {
    font-size: 12px;
    color: #767676;
    background: white;
    padding: 4px;
    font-weight: 400;
    z-index: 2;
    display: inline-block;
    position: relative;
    bottom: 12px;
}

.sign-in-link {
    align-items: flex-end;
    font-size: 13px;
    margin-top: 13px;
}

/* h1 styling below */

.login-form>h1 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px !important;
}

/* label styling below */

.login-label {
    font-weight: 900;
    padding: 0px 0px 2px 2px;
}

/* input styling below */

.login-input {
    width: 296px;
    height: 23px;
    padding: 3px 7px;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    margin-top: 2px;
}

/* logo styling here */

#login-logo {
    width: 103px;
    height: 31px;
}

/* button styling here */

.login-button {
    width: 312px;
    height: 29px;
    padding: 1px 6px;
    border-radius: 3px;
    border: 1;
    outline: 0;
    opacity: 1;
    background-color: transparent;
    background: #FEBD69;
    border-color: #af9e71 #af9e71 #af9e71 #af9e71;
    margin-bottom: 14px;
}

.login-createAccount {
    width: 348px;
    height: 29px;
}

.login-button:hover {
    cursor: pointer;
    background: #f0c14b;
}

.login-button:active {
    background: #e7a500;
    box-shadow: 0 0 5px #ff9100;
}

/* img styling below */

#login-logo:hover {
    cursor: pointer;
}

.exclamation {
    height: 13px;
    width: 14px;
}

/* paragraph tags and error handing styling below */

.errors {
    font-size: 12px;
    color: #C40000;
}

/* href link styling */

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: rgb(172, 112, 2);
}